.topbar{
    text-align: center;
    border-color: darkmagenta;
    border-style: groove;
    border-bottom-style: groove;
    border-radius: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
